$color-primary-red : hsl(0, 100%, 68%);
$Very-Dark-Blue: hsl(230, 29%, 20%);
$secondary-dark-blue : hsl(230, 11%, 40%);
$secondary-grayish-blue : hsl(231,7%,65%);
$secondary-light-grayish-blue: hsl(207, 33%, 95%); 