@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.8rem;
  overflow-x: hidden;
}

.header {
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0vh 0vh;
}

.header::after {
  content: '';
  background-color: #eef3f6;
  border-bottom-left-radius: 20%;
  height: 70%;
  right: 0px;
  position: fixed;
  top: 0px;
  width: 50%;
  z-index: -1;
}

.header__container {
  width: 80%;
  margin: 0px auto;
}

.header__header--flex {
  padding: 10vh 0vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav--links li {
  list-style: none;
}

.header__nav--links li a {
  text-decoration: none;
  color: #242942;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.header__nav--links li a:hover {
  border-bottom: 2px solid #242942;
}

.header__Secondary__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__left {
  margin-top: 40px;
  width: 40%;
}

.header__left--top--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  padding-left: 140px;
  max-width: 60%;
}

.header__right__image {
  max-width: 800px;
  position: absolute;
  right: -190px;
}

#newcolor {
  color: #a0a1ac;
}

#newcolor:hover {
  border-bottom: 2px solid #a0a1ac;
}

.burger > div {
  margin: 5px;
  height: 3px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0.664);
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s ease-in;
  transition: -webkit-transform .5s ease-in;
  transition: transform .5s ease-in;
  transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}

.burger {
  display: none;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.small-btn {
  background-color: #242942;
  padding: 5px 13px;
  margin-right: 20px;
  border-radius: 20px;
}

.buttons {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons__large-btn {
  background-color: #ff5c5c;
  color: #eef3f6;
  font-weight: 700;
  padding: 10px 23px;
  letter-spacing: 1px;
  border-radius: 5px;
  margin-right: 25px;
}

.buttons__large-btn:hover {
  background-color: rgba(255, 92, 92, 0.8);
}

h3 {
  letter-spacing: 3px;
  color: #a0a1ac;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 55px;
  color: #242942;
  margin-bottom: 20px;
}

p {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

span {
  display: block;
}

@media (max-width: 960px) {
  .header__nav--links {
    width: 45%;
  }
  .header__right {
    width: 100%;
  }
}

@media (max-width: 550px) {
  body {
    overflow-x: hidden;
  }
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    color: #242942;
    margin-bottom: 20px;
  }
  .burger {
    display: block;
  }
  .header__nav--links {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 18vh;
    right: 85px;
    text-align: center;
    width: 60%;
    margin: 0px auto;
    height: 200px;
    background-color: #fff;
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
    -webkit-transition: -webkit-transform ease-in .6s;
    transition: -webkit-transform ease-in .6s;
    transition: transform ease-in .6s;
    transition: transform ease-in .6s, -webkit-transform ease-in .6s;
    text-align: center;
    z-index: 1000;
  }
  nav .nav-active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-1px, 6px);
            transform: rotate(-45deg) translate(-1px, 6px);
  }
  .toggle .line2 {
    display: none;
  }
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-1px, -6px);
            transform: rotate(45deg) translate(-1px, -6px);
  }
  .header {
    padding: 30px 0px;
  }
  .header::after {
    position: fixed;
    height: 60%;
  }
  .header__left {
    margin-top: 350px;
    width: 600%;
  }
  .header__right {
    overflow-y: hidden;
    padding-left: 0px;
    width: 60%;
  }
  .header__right__image {
    width: 100%;
    height: auto;
    left: 20px;
    position: absolute;
    overflow-x: hidden;
  }
  .header__right__Secondary__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=style.css.map */